.feature-box {
  background-color: rgba($color-white, 0.8);
  text-align: center;
  font-size: 1.5rem;
  border-radius: 3px;
  padding: 2.5rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__text {
  }
}
